.errorMessage{
	color:#EF0F0F;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:13px;
}

body{
	background: #EFEFEF;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
}

.contenu{
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 2px #999999;
	padding-left: 0px;
	padding-right: 0px;
	background: white;
	text-align:center;
}

.articles_zone{
	text-align: left;
}

.alert{
	position: absolute;
	top: 20%;
	margin-left: 25%;
	margin-right: 25%;
}

.login-field{
	width:87%;
	margin-top: 5px;
}


#article_textearea{
	width: 90%;
}

.wwFormTable{
	width: 100%;
}

#login_form{
	text-align: center;
}